body{
    background-color:rgb(49, 48, 48);
    height: 100%;
    font-family: cursive;
    color: #F5F5F5;
}

#container{
    margin: auto;
    width: 50%;
    height: 70vh;
    display: flex;
    background-color:rgb(49, 48, 48);
}

.content{
    width: 100%;
    height:70%;
    margin-top: 10px;
}

.title{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.rock-paper-scissors-class{
    height: 75%;
    width: 100%;
    display: grid;
    margin:auto;
}

.player{
    width: 580px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.score{
    height: 100px;
    width: 560px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#play{
    font-family: cursive;
    background-color: #796e596b;
    display: flex;
    align-self: flex-start;
    width:200px;
    height: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-family: cursive;
    font-size: 25px;
    color: white;
    border: ridge;
    border-color: #C79FB6;
    border-radius: 15px;
}

#play:hover{
    background-color: #c9b5b59c;
}

.image-score{
    display: flex;
    width: 40%;
    margin: 4px;
    height: 100%;
}

#score-image-1, #score-image-2{
    width: 100%;
    height:100%
}

#score_value{
    font-size: 175px;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#names{
    width: 580px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.ids{
    width: 40%;
    text-align: center;
    font-size: 25px;
}

#user_selection{
    width: 100%;
    height: 10px;
    display: flex;
    margin: auto;
    float: left
}

#selection{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    justify-self: flex-start;
}

#selection-button_1, #selection-button_2, #selection-button_3{
    font-family: cursive;
    background-color: #d391176b;
    display: flex;
    align-self: flex-start;
    width:75px;
    height: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 15px;
    color: white;
    border: ridge;
    border-color: #C79FB6;
    border-radius: 15px;
}

#selection-button_1:hover, #selection-button_2:hover, #selection-button_3:hover{
    background-color: #c9b5b59c;
    animation: shake 0.75s ease-in-out;  
}

@keyframes shake{
    0% {
        transform: skewX(-30deg);
    }
    25% {
        transform: skewX(30deg);
    }
   
    50% {
        transform: skewX(-30deg);
    }
    
    75% {
        transform: skewX(30deg);
    }
    100% {
        transform: skewX(-30deg);
    }

}
