body{
    background-color: bisque;
    height: 100%;
}
#container{

    background-color: black;
    margin: auto;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 50px;
    background-color: aqua;
    margin-top: 3px;
}
.content{
    width: 100%;
    height:70%;
    margin-top: 10px;
    background-color: rgb(122, 122, 206);
    
}
.title{
    margin: auto;
    width: 100%;
    background-color: bisque;
    text-align: center;
}
.r-p-s{
    height: 75%;
    width: 600px;
    background-color:brown;
    display: grid;
    margin:auto;
}
.player{
    width: 100%;
    height: 100%;
    background-color: rgb(211, 153, 65);

    float: left;

}
.player:nth-child(2){
    float: right;
    border: dashed ;
}

.score{
    background-color: darkgreen;
}
.play{
    background-color: yellowgreen;
    display: flex;
    align-self: flex-start;
}
/*#score{
    background-color: cornsilk;
    height: 10%;
    width: 100%;
    margin: auto;
}
